<!DOCTYPE html>
<html ng-app="LaTeXMathematicsSymbols">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="application.js"></script>
    <script src="katex.min.js"></script>
</head>
<body ng-controller="SearchController">
    <h1>Hello</h1>
    <div ng-repeat="symbol in symbols | symbolsNotNull" class="symbol-card">
        <div class="symbol-title">{{symbol.Title}}</div>
        <div class="symbol-latex">${{symbol.LaTeXCommand}}$</div>
         <div class="symbol-latexcommand">{{symbol.LaTeXCommand}}</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="symbol-tags"><span ng-repeat="tag in symbol.Tags | tagsNotNull" class="tag">{{tag}}</span> </div>
    </div>
</body>
</html>
