<!DOCTYPE html>
<html ng-app="LaTeXMathematicsSymbols">
<head>
    <title>LaTeX Mathematics Symbols - Look-up the LaTeX commands for mathematical symbols</title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="application.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9625439-22', 'auto');
  ga('send', 'pageview');

    </script>
</head>
<body ng-controller="SearchController">
    <div class="centrecolumn">
        <h1>LaTeX Mathematics Symbols</h1>
        <p>This small website is a tool for looking up the LaTeX commands for mathematical symbols - because it often isn't obvious what the command is. Type the name of the symbol you're looking for in the text box below to search all of the commands listed on this website.</p>
        <p>Some other information is given for each command. The HTML entity is given for if you want to add the symbol to a webpage, and the MathML entity is give for if you prefer MathML to LaTeX maths syntax.</p>
        <input type="text" ng-model="searchTerms" placeholder="Search for a mathematical symbol" value="" class="searchbox" />
        <div class="symbols">
            <div ng-repeat="symbol in symbols | symbolsNotNull | searchSymbols : searchTerms" class="symbol">
                <div class="symbol-title">{{symbol.Title}}</div>
                <div class="symbol-example" ng-class="{'small-font-example': isLongExample(symbol.Length)}"><katex latex="{{symbol.Example}}"></ka></katex></div>
                <div class="symbol-latex symbol-attribute"><span class="attribute-header">LaTeX</span><code ng-repeat="command in symbol.LaTeX">{{ command }}</code></div>
                <div class="symbol-unicode symbol-attribute" ng-if="symbol.Unicode != ''"><span class="attribute-header">Unicode</span><code ng-repeat="code in symbol.Unicode">{{ code }}</code></div>
                <div class="symbol-html symbol-attribute" ng-if="symbol.HTML != ''"><span class="attribute-header">HTML</span><code ng-repeat="entity in symbol.HTML">{{ entity }}</code></div>
                <div class="symbol-mathml symbol-attribute" ng-if="symbol.MathML != ''"><span class="attribute-header">MathML</span><code ng-repeat="entity in symbol.MathML">{{ entity }}</code></div>
                <div class="symbol-notes symbol-attribute" ng-if="symbol.Notes != ''">{{symbol.Notes}}</div>
                 <div class="symbol-tags symbol-attribute">
                    <span ng-repeat="tag in symbol.Tags | tagsNotNull" ng-click="updateSearch(tag);" class="tag">{{tag}}</span>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <p class="attribution">This website was created by B. T. Milnes.</p>
        <p class="attribution">
            View this project on GitHub: <a href="https://github.com/BenjaminTMilnes/LaTeXMathematicsSymbols" target="_blank">https://github.com/BenjaminTMilnes/LaTeXMathematicsSymbols</a>
        </p>
        <p class="attribution">Like this website? <strong>Consider donating to help keep it online.</strong> If just 5 people donate £1 per month each, then this website can stay online. Use the button below to donate:</p>
       <form style="text-align:center;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="PM37K4X5XH8FW">
    <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
    </div>
</body>
</html>
