<!DOCTYPE html>
<html ng-app="LaTeXMathematicsSymbols">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="application.js"></script>
</head>
<body ng-controller="SearchController">
    <div class="centrecolumn">
        <h1>LaTeX Mathematics Symbols</h1>
        <p>This small website is a tool for looking up the LaTeX commands for mathematical symbols - because it often isn't obvious what the command is. Type the name of the symbol you're looking for in the text box below to search all of the commands listed on this website.</p>
        <p>Some other information is given for each command. The HTML entity is given for if you want to add the symbol to a webpage, and the MathML entity is give for if you prefer MathML to LaTeX maths syntax.</p>
        <input type="text" ng-model="searchTerms" placeholder="Search for a mathematical symbol" value="" class="searchbox" />
        <div class="symbols">
            <div ng-repeat="symbol in symbols | symbolsNotNull | searchSymbols : searchTerms" class="symbol">
                <div class="symbol-title">{{symbol.Title}}</div>
                <div class="symbol-example"><katex latex="{{symbol.LaTeXCommand}}"></katex></div>
                <div class="symbol-latex symbol-attribute"><span class="attribute-header">LaTeX</span><code>{{symbol.LaTeXCommand}}</code></div>
                <div class="symbol-unicode symbol-attribute"><span class="attribute-header">Unicode</span><code>{{symbol.UnicodeCode}}</code></div>
                <div class="symbol-html symbol-attribute"><span class="attribute-header">HTML</span><code>{{symbol.HTMLEntity}}</code></div>
                <div class="symbol-mathml symbol-attribute"><span class="attribute-header">MathML</span><code>{{symbol.MathMLEntity}}</code></div>
                <div class="symbol-tags symbol-attribute">
                    <span ng-repeat="tag in symbol.Tags | tagsNotNull" ng-click="searchTerms = tag" class="tag">{{tag}}</span>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <p class="attribution">This website was created by B. T. Milnes.</p>
        <p class="attribution">
            View this project on GitHub: <a href="https://github.com/BenjaminTMilnes/LaTeXMathematicsSymbols" target="_blank">https://github.com/BenjaminTMilnes/LaTeXMathematicsSymbols</a>
        </p>
    </div>
</body>
</html>
