
body {
    background-color: #F0F0F0;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    padding: 30px;
    margin: 0px;
    color: #202020;
}

h1, p, input {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

h1 {
    text-align: center;
    font-size: 50px;
    line-height: 1.5em;
    margin: 30px 0px;
}

p {
    text-align: justify;
    font-size: 15px;
    line-height: 1.5em;
    margin: 15px 0px;
}

.attribution {
    font-size: 13px;
    text-align: center;
    margin: 10px auto;
    color: #202020;
    width: 70%;
}

a {
    color: #2a5cb1;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.centrecolumn {
    margin: 0px auto;
    max-width: 1000px;
}

.searchbox {
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 30px;
    border-radius: 3px;
    border: 1px solid #D0D0D0;
    margin: 15px 0px;
}

.symbols {
}

.symbol {
    background-color: #FFFFFF;
    width: 310px;
    padding: 0px;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    margin: 0px 15px 15px 0px;
    float: left;
    color: #404040;
}

.symbol-title {
    font-size: 30px;
    line-height: 1.1em;
    margin: 30px;
}

.symbol-example {
    font-size: 100px;
    text-align: center;
    margin: 30px;
}

.small-font-example{
    font-size: 50px;
}

.symbol-attribute {
    border-top: 1px solid #D0D0D0;
    background-color: #FAFAFA;
    padding: 10px 30px;
    color: #202020;
    font-size: 15px;
    font-weight: normal;
}

.symbol-notes {
    padding: 30px;
    font-size: 13px;
    font-weight: lighter;
}

.attribute-header {
    font-weight: bold;
    width: 100px;
    display: inline-block;
}

code {
    color: #202020;
    font-size: 15px;
    font-weight: bold;
    font-family: Courier New, Courier, monospace;
    display: inline-block;
}

.symbol-attribute code{
    margin-right:1em;
}

.tag {
    display: inline-block;
    background-color: #2a5cb1;
    border: 1px solid #173e82;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px 10px;
    margin: 1px;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}

    .tag:hover {
        text-decoration: underline;
    }
